* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

/* variables for 3 main colors */
:root {
    --primary-color: rgb(234, 237, 253);
    --secondary-color: rgb(142, 253, 248);
    --tertiary-color: rgb(57, 69, 124);
} 

/* color of the entire body of the wbsite */
body {
    background-color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* begining of header Style */
/* header background color and flexbox */
header {
    padding: 20px 35px 0 0;
    background-color: rgb(53, 52, 52);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--secondary-color);
    top: 0;
    padding: 15px 10px 15px 10px;
}


header a img {
    width: 50%;
    display: flex;
}

header nav {
    margin:7px 0;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

header ul li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

header nav ul li a {
    color: var(--secondary-color);
    display: inline;
    padding: 10px 15px;
    border-bottom: 15px;
    text-decoration: none;
    font-weight: bold;
}

.header-card {
    color: rgb(53, 52, 52);
    background-color: var(--secondary-color);
    display:flex; 
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
}

/* End of header style */ 

/* hero section style */
.hero {
    background-image: url(./images/croped-image.png);
    background-size: cover;
    display: flex;  
    align-items: flex-start;
    background-position: center;
    background-position: 80%;
    top: -50px;
}


.hero h1 {
    font-size: 35px;
    margin: 214px 35px 35px auto;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-weight: bold;
    display: flex;
    padding: 5px;
}
/* end of Hero section */

/* about me section */ 
.about-me {
    display: flex;
    margin: 60px 100px;
    color: var(--tertiary-color);
} 


.about-me h2 {
    margin: 0 30px 0 0;
    padding-right: 15px;
    color: var(--tertiary-color);
    border-right: solid 1px;
}
 
.about-me p{
    line-height: 1.5;
}
/* about me section end */ 

/* Begining of work section */
 .work {
     display: flex;
     margin: 60px 100px;
     color: var(--tertiary-color);
 } 

 .work h2 {
    margin: 0 30px 0 9px;
    padding-right: 15px;
    border-right: solid 1px;
 }
 
 .work div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 } 

 .project-item {
     display: flex;
     align-items: flex-end;
     flex-basis: 47%;
     min-height: 150px;
     margin: 10px;
     border:5px solid var(--tertiary-color);
 }

 .project-item:first-child {
     min-height: 400px;
     flex-basis: 100%;
 }

 .project-item div {
     padding: 10px 10px;
     display: flex;
     align-items: center;
     color: var(--tertiary-color);
 }

 .item1 {
   background-image: url(./images/6FeetAwayWideSized.jpg);
    background-size: cover;
 }
 .item2 {
    background-image: url(./images/item2-image.jpg);
 }

 .item3 {
    background-image: url(./images/item3-image.jpg)
}

.item4 {
    background-image: url(./images/item4-image.jpg)
}

.item5 {
    background-image: url(./images/item5-image.jpg)
}

.project-container a:hover {
    opacity: 0.5;
}

/* End of work section */

/* contact me section */
.contact {
    display: flex;
    margin: 60px 79px;
    color: var(--tertiary-color);

} 

.contact h2 {
    margin: 0 30px 0 0;
    padding-right: 15px;
    border-right: solid 1px;
}

.contact ul {
    list-style: none;
    display: flex;
    margin:  0 10px 0 10px;
    align-items: flex-end;
}

.contact ul li {
    margin-right: 300px;
    border-bottom: solid 5px;
}


.contact ul li a {
    text-decoration: none;
}
/* End of contact section */