* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

/* variables for 3 main colors */
:root {
    --primary-color: rgb(225, 230, 255);
    --secondary-color: rgb(142, 253, 248);
    --tertiary-color: rgb(42, 42, 95);
} 

/* color of the entire body of the wbsite */
body {
    background-color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* begining of header Style */
/* header background color and flexbox */
header {
    padding: 20px 35px 0 0;
    background-color: rgb(53, 52, 52);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--secondary-color);
    top: 0;
}


header a img {
    width: 50%;
    display: flex;
}

header nav {
    margin:7px 0;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

header ul li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

header nav ul li a {
    color: var(--secondary-color);
    display: inline;
    padding: 10px 15px;
    border-bottom: 15px;
    text-decoration: none;
    font-weight: bold;
}

.header-card {
    color: rgb(53, 52, 52);
    background-color: var(--secondary-color);
    display:flex; 
    width: 9%;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}
/* End of header style */ 

/* hero section style */
.hero {
    background-image: url(./images/youtube-banner-templates.jpeg);
    background-size: cover;
    display: flex;  
    align-items: flex-start;
    background-position: center;
    background-position: 80%;
    top: -50px;
}


.hero h1 {
    font-size: 35px;
    margin: 214px 35px 35px auto;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-weight: bold;
    display: flex;
}
/* end of Hero section */

