* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

/* variables for 3 main colors */
:root {
    --primary-color: rgb(225, 230, 255);
    --secondary-color: rgb(142, 253, 248);
    --tertiary-color: rgb(42, 42, 95);
} 

/* color of the entire body of the wbsite */
body {
    background-color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* header background color and flexbox */
header {
    padding: 20px 35px;
    background-color: rgb(53, 52, 52);
    display:flex;
    justify-content: space-between;
    color: var(--secondary-color);
    top: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header h1 {
    margin: 0 auto;
}

header h1 a {
    color: rgb(53, 52, 52);
    background-color: var(--secondary-color);
    display:flex;
    margin: 0 auto;
    width: 50%;
}


header h1 a img {
    width: 10%;
    flex: 1 12%;
}

header li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

header nav {
    margin:7px 0;
    display: flex;
    margin: auto auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
}






